<form action="/sessions/delete" method="post">
	<input type="submit" value="Sign Out">
</form>
<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<form action="/posts/<%= @user.id %>" method="post">
	<textarea name="Content"></textarea>
	<input type="submit" value="Post">
</form>
<% @user.posts.each do |p| %>
	<%= p.content %>
	<form action="/posts/<%= p.id %>/delete_post" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="hidden" name="user_id" value="<%= @user.id %>">
		<input type="submit" value="Delete Post">
	</form>
<% end %>
<a href="/users">Show Users</a>
